<div class="jumbotron">
    <h1>d3.selectAll(selector)</h1>
    <p>Selects all elements that match the specified selector</p>
</div>

<h1 id="first-set">
    <span class="label label-default">Alpha</span>
    <span class="label label-default scruffy">Bravo</span>
    <span class="label label-default scruffy">Charlie</span>
    <span class="label label-default scruffy">Delta</span>
    <span class="label label-default">Echo</span>
    <span class="label label-default">Foxtrot</span>
    <span class="label label-default">Golf</span>
</h1>
<h1 id="second-set">
    <span class="label label-default">Alpha</span>
    <span class="label label-default scruffy">Bravo</span>
    <span class="label label-default scruffy">Charlie</span>
    <span class="label label-default scruffy">Delta</span>
    <span class="label label-default">Echo</span>
    <span class="label label-default">Foxtrot</span>
    <span class="label label-default">Golf</span>
</h1>
<h1 id="third-set">
    <span class="label label-default">Alpha</span>
    <span class="label label-default scruffy">Bravo</span>
    <span class="label label-default scruffy">Charlie</span>
    <span class="label label-default scruffy">Delta</span>
    <span class="label label-default">Echo</span>
    <span class="label label-default">Foxtrot</span>
    <span class="label label-default">Golf</span>
</h1>
<br />

@*<div class="row">
    <div class="col-sm-4">
        <ul id="first-list" class="list-group">
            <li class="list-group-item list-group-item-default">Alpha</li>
            <li class="list-group-item list-group-item-default scruffy">Bravo</li>
            <li class="list-group-item list-group-item-default scruffy">Charlie</li>
            <li class="list-group-item list-group-item-default scruffy">Delta</li>
            <li class="list-group-item list-group-item-default">Echo</li>
            <li class="list-group-item list-group-item-default">Foxtrot</li>
            <li class="list-group-item list-group-item-default">Golf</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul id="second-list" class="list-group">
            <li class="list-group-item list-group-item-default">Alpha</li>
            <li class="list-group-item list-group-item-default scruffy">Bravo</li>
            <li class="list-group-item list-group-item-default scruffy">Charlie</li>
            <li class="list-group-item list-group-item-default scruffy">Delta</li>
            <li class="list-group-item list-group-item-default">Echo</li>
            <li class="list-group-item list-group-item-default">Foxtrot</li>
            <li class="list-group-item list-group-item-default">Golf</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul id="third-list" class="list-group">
            <li class="list-group-item list-group-item-default">Alpha</li>
            <li class="list-group-item list-group-item-default scruffy">Bravo</li>
            <li class="list-group-item list-group-item-default scruffy">Charlie</li>
            <li class="list-group-item list-group-item-default scruffy">Delta</li>
            <li class="list-group-item list-group-item-default">Echo</li>
            <li class="list-group-item list-group-item-default">Foxtrot</li>
            <li class="list-group-item list-group-item-default">Golf</li>
        </ul>
    </div>
</div>*@

<button id="run-selects" class="btn btn-success btn-lg" type="submit">Select All</button>

@section scripts
{
    <script type="text/javascript">
        function containsLetter(letter, text) {
            return text.indexOf(letter) !== -1;
        }

        function onSelect() {
            /*
             * Mark every label as success
             */
            d3
                .select('#first-set')
                .selectAll('span')
                .classed('label-success', true);

            //d3
            //    .select('#first-list')
            //    .selectAll('li')
            //    .classed('list-group-item-success', true);
            

            /*
             * Mark all scruffy labels as danger
             */
            d3
                .select('#second-set')
                .selectAll('span.scruffy')
                .classed('label-danger', true);

            /*
             * Mark every that contains 'o' as primary
             */
            d3
                .select('#third-set')
                .selectAll('span')
                .classed('label-info', function () {
                    return containsLetter('o', this.textContent);
                });

            d3
                .select('#run-selects')
                .attr('disabled', 'disabled');
        }

        $('document').ready(function () {
            $('#run-selects')
                .prop('disabled', false)
                .click(onSelect);
        });
    </script>
}
