@section localStyles
{
    <style type="text/css">
        svg {
            border-radius: 5px;
            width: 100%;
            height: 750px;
        }
    </style>
}


<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary btn-lg" href="http://eric.clst.org/Stuff/USGeoJSON">US Map GeoJSON</a>
        <svg></svg>
    </div>
</div>
<br />

@section scripts
{
    <script type="text/javascript">
        function displayUsMap(w, h) {
            var path, projection, svg;

            projection = d3.geo.albersUsa()
                .translate([w / 2, h / 2])
                .scale([1500]);

            path = d3.geo.path().projection(projection);

            svg = d3.select('svg');
            svg.attr('viewBox', '0 0 ' + w + ' ' + h);

            d3.json('/Content/gz_2010_us_040_00_500k.json', function (geoJson) {

                svg.selectAll('path')
                    .data(geoJson.features)
                    .enter()
                    .append('path')
                    .classed('us-state', true)
                    .attr('d', path);
            });
        }

        $(document).ready(function() {
            var svg = $('svg');
            displayUsMap(svg.width(), svg.height());
        });
    </script>
}
