<div class="jumbotron">
    <h2>D3 Selections</h2>
</div>
<div id="list-area" class="row"></div>

@section scripts
{
    <script type="text/javascript">
        function buildSimpleList(data, mapDatum, columnClass) {
            columnClass = columnClass || 'col-xs-4';

            d3
                .select('#list-area')
                .append('div')
                .classed(columnClass, true)
                .append('ul')
                .classed('nav nav-pills nav-stacked', true)
                .selectAll('li')
                .data(data)
                .enter()
                .append('li')
                .attr('role', 'presentation')
                .append('a')
                .attr('href', '#')
                .html(mapDatum);
        }

        $('document').ready(function() {

            buildSimpleList(['a', 'b', 'c', 'd'], function (d) { return d; });

            d3.json('api2/people', function(error, json) {
                buildSimpleList(json, function(d) { return d.first; });
            });

            d3.json(
                'http://www.reddit.com/.json',
                function(error, json) {
                    var posts = json.data.children;
                    buildSimpleList(posts, function(p) { return p.data.title; }, 'col-xs-12');
                });
        });
    </script>
}
