<div class="jumbotron">
    <h1>Demo 1</h1>
</div>

@section scripts
{
    <script type="text/javascript">
        $('document').ready(function () {
            var data;

            d3.json('api2/people', function (error, json) {
                data = json;
                alert(json);
            });
        });
    </script>
}
