<div class="jumbotron">
    <h4>Demo 1</h4>
</div>

@section scripts
{
    <script type="text/javascript">
        function xyz(data, mapDatum) {
            d3
                .select('.jumbotron')
                .append('div')
                .append('ul')
                .selectAll('li')
                .data(data)
                .enter()
                .append('li')
                .html(mapDatum);
        }

        $('document').ready(function () {
            var data;

            d3.json('api2/people', function (error, json) {
                xyz(json, function (d) { return d.first; });
            });

            d3.json(
                'http://demo.ckan.org/api/3/action/group_list',
                function (error, json) {
                    xyz(json.result, function(d) { return d; });
                });
        });
    </script>
}
