<div class="jumbotron">
    <h1>selection.data([values[, key]])</h1>
    <p>Joins the specified array of data with the current selection. The specified values is an array of data values (e.g. numbers or objects), or a function that returns an array of values. If a key function is not specified, then the first datum in values is assigned to the first element in the current selection, the second datum to the second selected element, and so on. When data is assigned to an element, it is stored in the property __data__ (defined by D3), thus making the data "sticky" so that the it is available on re-selection.</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <ul id="first-list" class="list-group">
            <li class="list-group-item list-group-item-default">Alpha</li>
            <li class="list-group-item list-group-item-default scruffy">Bravo</li>
            <li class="list-group-item list-group-item-default scruffy">Charlie</li>
            <li class="list-group-item list-group-item-default scruffy">Delta</li>
            <li class="list-group-item list-group-item-default">Echo</li>
            <li class="list-group-item list-group-item-default">Foxtrot</li>
            <li class="list-group-item list-group-item-default">Golf</li>
        </ul>
    </div>
</div>

<button id="run-selects" class="btn btn-success btn-lg" type="submit">Run</button>

@section scripts
{
    <script type="text/javascript">

        function onClick() {
            /*
             * Mark every label as success
             */
            var things =
                d3
                    .select('#first-list')
                    .selectAll('li')
                    .data(['one', 'two', 'three', 'four']);

            d3
                .select('#run-selects')
                .attr('disabled', 'disabled');
        }

        $('document').ready(function () {
            $('#run-selects')
                .prop('disabled', false)
                .click(onClick);
        });
    </script>
}
